dialog {
  //margin: 0;
  padding-bottom: 2em;
  //border: solid yellow thin;
  border: double;
  color: #fff;
  background: transparent;
  background: linear-gradient(#083f5fcc, #571557cc 70%);
  border-radius: 30% 30% 3em 3em/50% 50% 3em 3em;
  transition: all 0.5s;
  text-align: center;

  ::selection {
    background: transparent;
    color: #e0dd0c;
  }
  &::backdrop {
    cursor: not-allowed;
  }

  em {
    font-weight: bold;
    text-transform: capitalize;
  }
  select,
  input,
  button {
    border-radius: 20%;
  }
}

dialog details {
  transition: all 0.5s;

  summary {
    transition: all 0.5s;
    cursor: pointer;
    
    &:focus-visible {
      outline: none;
      border: none;
      border: dashed 1.5px yellow;
      border-radius: 0.3em 0.3em 1em 1em;
      padding: 0.3em;
    }
  }
}

dialog button {
  margin-top: 1em;

  &::before,
  &::after {
    content: attr(data-lock);
  }
}

dialog output span {
  font-weight: bold;

  &:nth-of-type(1) {
    color: greenyellow;
  }

  &:nth-of-type(2) {
    color: red;
    text-decoration: {
      line: underline;
      color: red;
      style: wavy;
    }
  }
}
