@use 'sass:string' as *;
@use 'sass:math' as *;
@use 'sass:list' as *;
@use 'utilities' as *;

@function multipleBoxShadow($n, $h) {
  $value: '#{random(100)}vw #{random($h)}vh';
  @for $i from 2 through $n {
    $value: '#{$value}, #{random(100)}vw #{random($h)}vh';
  }
  @return unquote($value);
}
$starsSizes: 0.08rem 0.13rem 0.18rem;
$height: 100 200 400;
$shadows: multipleBoxShadow(600, (100 + nth($height, 3))),
  multipleBoxShadow(200, (100 + nth($height, 2))),
  multipleBoxShadow(40, (100 + nth($height, 1)));

@for $_ from 1 through 3 {
  #stars#{$_} {
    @include size(nth($starsSizes, $_));
    border-radius: 50%;
    background: transparent;
    box-shadow: nth($shadows, $_);
    ::after {
      content: ' ';
      position: fixed;
      border-radius: 50%;
      top: 0;
      @include size(nth($starsSizes, $_));
      box-shadow: nth($shadows, $_);
      background: transparent;
    }
  }
  @keyframes stars#{$_} {
    to {
      transform: translateY((-1vh * nth($height, -1 * $_)));
    }
  }
}
