@use './stars';
@use 'sass:color';

#surprise {
  display: flex;
  flex-flow: column nowrap;
  place-content: center;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
  //border: solid 1px red;  min-height:100vh;
}

//text-shadow
$offset-1: 0.045em;
$offset-2: 0.08em;
$offset1: -0.045em;
$offset2: -0.08em;
$blur: 1.5px;
$cyan: color.adjust(#f0f, $lightness: 6%, $hue: 25);
$magenta: color.adjust(#0ff, $hue: 20);

#surprise h1 {
  position: relative;
  bottom: 10vh;
  opacity: 1;
  display: inline-block;
  z-index: 1;
  color: #fffc;
  text-shadow: $offset1 $offset1 $blur $cyan,
    $offset2 $offset2 $blur $magenta;
  transition: all 500ms;
  font: 500 clamp(1.4rem, 8vw, 4rem) 'Henny Penny', cursive;
  line-height: 0.3em;
  cursor: pointer;

  &::selection,
  ::selection {
    background-color: transparent;
    color: #e0dd0c;
  }

  &:active {
    cursor: grabbing;
  }

  &:first-of-type {
    &::before,
    &::after {
      content: attr(data-content);
    }
  }

  &:last-of-type {
    &::before {
      content: attr(data-content-before);
    }
    &::after {
      content: attr(data-content-after);
    }
  }
}

#surprise h1 span {
  transition: font-size 0.5s ease-out, color 0.5s ease-out;

  &:nth-child(2n):hover {
    //font-weight: 900;
    font-size: 1.2em;
    color: $cyan;
  }

  &:nth-child(2n + 1):hover {
    //font-weight: 900;
    font-size: 1.2em;
    color: $magenta;
  }
}

.animated {
  animation: hb 1.5s infinite alternate
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes hb {
  to {
    opacity: 0.7;
    text-shadow: $offset-1 $offset-1 $blur $cyan,
      $offset-2 $offset-2 $blur $magenta;
    transform: rotate(-5deg) scale(1.25);
  }
}
