@use './stars';
@use 'sass:color';
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
html,
body,
div {
  margin: 0;
  padding: 0;
  border: none;
}
@font-face {
  font-family: Gluten;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/HennyPenny-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC,
    U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122,
    U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  color: #fff;
  background: radial-gradient(
    ellipse at bottom,
    #213143,
    #030305
  );
}
#birthday {
  display: flex;
  flex-flow: column nowrap;
  place-content: center;
  place-items: center;
  min-height: calc(100vh - 6px);
  //border: solid 1px red;  min-height:100vh;
}
//text-shadow
$offset-1: 0.045em;
$offset-2: 0.08em;
$offset1: -0.045em;
$offset2: -0.08em;
$blur: 1.5px;
$c1: color.adjust(#f0f, $lightness: 6%, $hue: 25);
$c2: color.adjust(#0ff, $hue: 20);
h1 {
  opacity: 1;
  display: inline-block;
  z-index: 1;
  color: #fffc;
  text-shadow: $offset1 $offset1 $blur $c1,
    $offset2 $offset2 $blur $c2;
  font: 500 clamp(1.6rem, 4vw, 4rem) Gluten, cursive;
  line-height: 0.3em;
  cursor: pointer;
  &::selection {
    background-color: transparent;
    color: rgb(#aa2764, 0.685);
  }
  &:hover {
    font-weight: 900;
  }
  &:active {
    cursor: grabbing;
  }
  &:first-of-type {
    &::before,
    &::after {
      content: attr(data-content);
    }
  }
  &:last-of-type {
    &::before {
      content: attr(data-contentBefore);
    }
    &::after {
      content: attr(data-contentAfter);
    }
  }
}
@keyframes hb {
  to {
    opacity: 0.7;
    text-shadow: $offset-1 $offset-1 $blur $c1,
      $offset-2 $offset-2 $blur $c2;
    transform: rotate(-5deg) scale(1.25);
  }
}
dialog {
  color: #fff;
  background: red linear-gradient(#083f5f, #571557 70%);
  border-radius: 30% 30% 3em 3em/50% 50% 3em 3em;
  text-align: center;
  border: double;
  details {
    summary {
      cursor: pointer;
      &:focus-visible {
        outline: none;
        border: dotted 1.5px;
        border-radius: 0.3em 0.3em 1em 1em;
        padding: 0.3em;
      }
    }
  }
  em {
    font-weight: bold;
    text-transform: capitalize;
  }
  select,
  input,
  button {
    border-radius: 20%;
  }
  button {
    margin-top: 1em;
  }
  output span {
    font-weight: bold;
    &:nth-child(1) {
      color: greenyellow;
    }
    &:nth-child(2) {
      color: red;
      text-decoration: {
        line: underline;
        color: red;
        style: wavy;
      }
    }
  }
  ::selection {
    background: transparent;
    color: #e0dd0c;
  }
  //&::backdrop {
  //
  //}
}
